* {
    
    margin: 0px;
    padding: 0px;
}


body {
    
    background: #F7F7F7;
    margin:5%;
    
}

h1 {
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    border-radius: 10px;
    
}

#formulario {
    
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px;
    padding: 16px;
    background: #F7F7F7;
}


#formulario input[type="text"],
select {
    width:50%;
    height: 40px;
    
}

h2 {
    
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;   
    text-align: center;
}
#formulario input[type="submit"],
#formulario input[type="reset"],
#volver{
    
    display:inline-block;
    float:left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    text-align: center;
    text-decoration: none;
    
}

#vol{
    
    display:block;
    float:clear;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 10%;
    height: 3%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    text-align: center;
    text-decoration: none;
    
}

#formulario input[type="submit"]:hover,
#formulario input[type="reset"]:hover,
#volver:hover{
    background: #2EBC99;
}

img {
    width:150%;
    
}

img {
    
    width:50%;
    display: inline-block;
    float:left;
}

table {
    border:0;
    width: 100%;
    text-align: center;
    font-family: "arial","Helvetia","sans.serif";
    background: #2EBC99;
    color:white;
    border-radius: 10px;
    
}