* {
    
    margin:0px;
    padding:10px;
    font-family: "arial", sans-serif;
}

body {
    
    background: beige;
    margin:5%;
    
}

.cabecera {
    
    background: gray;
}

h1 {
    color:white;
    
}

#contenedor {
    text-align: center;
    
    
}

.botones{
    
    display: inline-block;
    

    
    
}

img {
    
    width:200px;
}

button {
    
    background: grey;
    width:100%;
    
    
}

a {
    
    color:black;
    text-decoration: none;
}

#footer {
    
    background: grey;
    color:white;
}

#footer a {
    color:black;
}